<div class="page">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <h2 id="page-heading">
        <span jhiTranslate="osh.articles.title">My articles</span>
    </h2>
    <div class="page-body">
        <div class="card" style="flex: 1">
            <div class="card-body">
                <button type="button" class="btn btn-primary add-article"
                        jhiTranslate="osh.add" (click)="updateForm(null)">Add</button>
                <p-tabView>
                    <p-tabPanel header="Mój sprzęt">
                        <p-panel header="Wyporzyczone">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="a_in_rent.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="a_in_rent.length > 0">
                                <tr *ngFor="let arnt of a_in_rent"><td>{{arnt.name}}</td></tr>
                                </tbody>
                            </table>
                        </p-panel>
                        <p-panel header="Zarezerwowane">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="a_reserved.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="a_reserved.length > 0">
                                <tr *ngFor="let ares of a_reserved">
                                    <td>{{ares.article.name}} - {{ares.user.login}}
                                        <span>{{(ares.startTime | date: 'd/MM/yy')}}</span> -
                                        <span>{{(ares.endTime | date: 'd/MM/yy')}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </p-panel>
                        <p-panel header="Aktywne">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="a_active.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="a_active.length > 0">
                                <tr *ngFor="let aactv of a_active" (click)="updateForm(aactv)">
                                    <td>
                                        {{aactv.name}}
                                        <fa-icon class="status-btn" (click)="changeStatus(aactv.id, 'disactive', $event)" [icon]="'arrow-alt-circle-down'"></fa-icon>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </p-panel>
                        <p-panel header="Nieaktywne">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="a_disactive.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="a_disactive.length > 0">
                                <tr *ngFor="let adis of a_disactive" (click)="updateForm(adis)">
                                    <td>
                                        {{adis.name}}
                                        <fa-icon class="status-btn" (click)="changeStatus(adis.id, 'active', $event)" [icon]="'arrow-alt-circle-up'"></fa-icon>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </p-panel>
                    </p-tabPanel>
                    <p-tabPanel header="Moje wypożyczenia i rezerwacje">
                        <p-panel header="Wypożyczenia">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="myRentings.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="myRentings.length > 0">
                                <tr *ngFor="let rents of myRentings"><td>{{rents.article.name}}</td></tr>
                                </tbody>
                            </table>
                        </p-panel>
                        <p-panel header="Rezerwacje">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="myReservations.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="myReservations.length > 0">
                                <tr *ngFor="let resrv of myReservations"><td>{{resrv.article.name}}</td></tr>
                                </tbody>
                            </table>
                        </p-panel>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="card add-panel">
                <div class="card-body">
                    <h4 style="text-align: center" *ngIf="!articleForm.get('id').value">Dodaj nowy</h4>
                    <h4 style="text-align: center" *ngIf="articleForm.get('id').value">Zmodyfikuj</h4>
                    <form name="addArticleForm" role="form" (ngSubmit)="saveArticle()" [formGroup]="articleForm">
                        <div class="form-group">
                            <label class="form-control-label" for="articleName">Article</label>
                            <input type="text" class="form-control" id="articleName" name="articleName" placeholder="Article"
                                   formControlName="name">
                            <div *ngIf="articleForm.get('name').invalid && (articleForm.get('name').dirty || articleForm.get('name').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="articleForm.get('name').errors.required" jhiTranslate="settings.messages.validate.firstname.required">
                                    Your first name is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="articleForm.get('name').errors.minlength" jhiTranslate="settings.messages.validate.firstname.minlength">
                                    Your first name is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="articleForm.get('name').errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength">
                                    Your first name cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="articleDesc">Desc</label>
                            <textarea type="text" class="form-control" id="articleDesc" name="articleDesc" placeholder="Desc (optional)"
                                      formControlName="desc"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="articleImage">Image</label>
                            <input type="text" class="form-control" id="articleImage" name="articleImage" placeholder="Image URL"
                                   formControlName="mainImage">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="form-control-label" for="articlePrice">Price</label>
                                    <input type="number" class="form-control" id="articlePrice" name="articlePrice" placeholder="Price"
                                           formControlName="price">
                                </div>
                                <div class="col-4">
                                    <label class="form-control-label" for="articleCurrency">Currency</label>
                                    <select class="form-control" id="articleCurrency" name="articleCurrency"
                                            formControlName="currency">
                                        <option *ngFor="let value of currency.values()" [value]="value">{{value}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="form-control-label" for="articleRentPeriod">Rent Period</label>
                                    <select class="form-control" id="articleRentPeriod" name="articleRentPeriod"
                                            formControlName="rentPeriod">
                                        <option *ngFor="let value of rentPeriod.values()" [value]="value">{{value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="articleCategory">Category</label>
<!--                            <input type="text" class="form-control" id="articleCategory" name="articleCategory" placeholder="Category"-->
<!--                                   formControlName="categoryName">-->
                            <select class="form-control" id="articleCategory" name="articleCategory" formControlName="category">
                                <option [ngValue]="categoryOption.id === articleForm.get('category').value?.id ? articleForm.get('category').value : categoryOption"
                                        *ngFor="let categoryOption of categories; trackBy: trackCategoryById"
                                        [selected]="categoryOption.id === articleForm.get('category').value?.id">
                                    {{categoryOption.categoryName}}
                                </option>
                            </select>
                        </div>
                        <button type="submit" [disabled]="articleForm.invalid || isSaving" class="btn btn-success float-right" jhiTranslate="settings.form.button">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
