<p-confirmDialog
    [style]="{ width: '50vw' }"
    rejectLabel="Nie"
    acceptLabel="Tak"
></p-confirmDialog>
<div class="page">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <h2 id="page-heading" style="display: none">
        <span jhiTranslate="osh.articles.title">My articles</span>
    </h2>
    <div class="page-body">
        <div class="card" style="flex: 1">
            <div class="card-body">
                <button type="button" class="btn btn-primary add-article"
                        jhiTranslate="osh.add" (click)="updateForm(null)">Add</button>
                <p-tabView>
                    <p-tabPanel [header]="'osh.articles.myEquipment' | translate">
                        <p-panel [header]="'osh.articles.rented' | translate">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="aInRent.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="aInRent.length > 0">
                                <tr *ngFor="let arnt of aInRent">
                                    <td>{{arnt.article.name}}
                                        <fa-icon class="status-btn" (click)="closeRent(arnt.id, $event)" [icon]="'stop-circle'"></fa-icon>
                                        <span style="float: right; margin-right: 20px;">
                                            {{(arnt.startTime | date: 'd/MM/yy')}} - {{(arnt.endTime | date: 'd/MM/yy')}}
                                        </span>
                                        <span style="float: right; margin-right: 20px; font-style: italic;">({{arnt.user.login}})</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </p-panel>
                        <p-panel [header]="'osh.articles.reserved' | translate">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="aReserved.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="aReserved.length > 0">
                                <tr *ngFor="let ares of aReserved">
                                    <td>{{ares.article.name}}
                                        <fa-icon class="status-btn" (click)="makeRentFromReservation(ares, $event)" [icon]="'play-circle'"></fa-icon>
                                        <span style="float: right; margin-right: 20px;">
                                            {{(ares.startTime | date: 'd/MM/yy')}} - {{(ares.endTime | date: 'd/MM/yy')}}
                                        </span>
                                        <span style="float: right; margin-right: 20px; font-style: italic;">({{ares.user.login}})</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </p-panel>
                        <p-panel [header]="'osh.articles.active' | translate">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="aActive.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="aActive.length > 0">
                                <tr *ngFor="let aactv of aActive" (click)="updateForm(aactv)">
                                    <td>
                                        {{aactv.name}}
                                        <fa-icon class="status-btn" (click)="changeStatus(aactv.id, 'disactive', $event)" [icon]="'arrow-alt-circle-down'"></fa-icon>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </p-panel>
                        <p-panel [header]="'osh.articles.disactive' | translate">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="aDisactive.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="aDisactive.length > 0">
                                <tr *ngFor="let adis of aDisactive" (click)="updateForm(adis)">
                                    <td>
                                        {{adis.name}}
                                        <fa-icon class="status-btn" (click)="changeStatus(adis.id, 'active', $event)" [icon]="'arrow-alt-circle-up'"></fa-icon>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </p-panel>
                    </p-tabPanel>
                    <p-tabPanel [header]="'osh.articles.resAndRent' | translate">
                        <p-panel [header]="'osh.articles.rent.myRents' | translate">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="myRentings.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="myRentings.length > 0">
                                <tr *ngFor="let rents of myRentings">
                                    <td>
                                        {{rents.article.name}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </p-panel>
                        <p-panel [header]="'osh.articles.reservations.myReservations' | translate">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <span class="not-found" *ngIf="myReservations.length === 0" jhiTranslate="osh.articles.404"></span>
                                <tbody *ngIf="myReservations.length > 0">
                                <tr *ngFor="let resrv of myReservations">
                                    <td>
                                        {{resrv.article.name}}  ({{resrv.startTime | date}} - {{resrv.endTime | date}})
                                        <fa-icon class="status-btn" (click)="closeReservation(resrv.id, $event)" [icon]="'times-circle'"></fa-icon>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </p-panel>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="card add-panel">
                <div class="card-body">
                    <h4 style="text-align: center" *ngIf="!articleForm.get('id').value" jhiTranslate="osh.articles.form.addNew">Add new</h4>
                    <h4 style="text-align: center" *ngIf="articleForm.get('id').value" jhiTranslate="osh.articles.form.update">Update</h4>
                    <form name="addArticleForm" role="form" (ngSubmit)="saveArticle()" [formGroup]="articleForm">
                        <div class="form-group">
                            <label class="form-control-label" for="articleName" jhiTranslate="osh.articles.one">Article</label>
                            <input type="text" class="form-control" id="articleName" name="articleName" placeholder="Article"
                                   formControlName="name">
                            <div *ngIf="articleForm.get('name').invalid && (articleForm.get('name').dirty || articleForm.get('name').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="articleForm.get('name').errors.required" jhiTranslate="settings.messages.validate.firstname.required">
                                    Your first name is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="articleForm.get('name').errors.minlength" jhiTranslate="settings.messages.validate.firstname.minlength">
                                    Your first name is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="articleForm.get('name').errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength">
                                    Your first name cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="articleDesc" jhiTranslate="osh.articles.form.desc">Desc</label>
                            <textarea type="text" class="form-control" id="articleDesc" name="articleDesc" placeholder="Desc (optional)"
                                      formControlName="desc"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label class="form-control-label" for="articleImage" jhiTranslate="osh.articles.form.image">Image</label>
                                    <input type="text" class="form-control" id="articleImage" name="articleImage" placeholder="Image URL"
                                           formControlName="mainImage" #image>
                                </div>
                                <div class="col-4">
                                    <div class="article-img" *ngIf="!image.value || image.value.length < 0 "></div>
                                    <div class="article-img" *ngIf="image.value && image.value.length > 0 "
                                         [style.backgroundImage]="'url('+ image.value +')'"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="form-control-label" for="articlePrice" jhiTranslate="osh.articles.form.price">Price</label>
                                    <input type="number" class="form-control" id="articlePrice" name="articlePrice" placeholder="Price"
                                           formControlName="price">
                                </div>
                                <div class="col-4">
                                    <label class="form-control-label" for="articleCurrency" jhiTranslate="osh.articles.form.currency">Currency</label>
                                    <select class="form-control" id="articleCurrency" name="articleCurrency"
                                            formControlName="currency">
                                        <option *ngFor="let value of currency.values()" [value]="value">{{value}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="form-control-label" for="articleRentPeriod" jhiTranslate="osh.articles.form.rentPeriod">Rent Period</label>
                                    <select class="form-control" id="articleRentPeriod" name="articleRentPeriod"
                                            formControlName="rentPeriod">
                                        <option *ngFor="let value of rentPeriod.values()" [value]="value">{{value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="articleCategory" jhiTranslate="osh.articles.form.category">Category</label>
<!--                            <input type="text" class="form-control" id="articleCategory" name="articleCategory" placeholder="Category"-->
<!--                                   formControlName="categoryName">-->
                            <select class="form-control" id="articleCategory" name="articleCategory" formControlName="category">
                                <option [ngValue]="categoryOption.id === articleForm.get('category').value?.id ? articleForm.get('category').value : categoryOption"
                                        *ngFor="let categoryOption of categories; trackBy: trackCategoryById"
                                        [selected]="categoryOption.id === articleForm.get('category').value?.id">
                                    {{categoryOption.categoryName}}
                                </option>
                            </select>
                        </div>
                        <button type="submit" [disabled]="articleForm.invalid || isSaving" class="btn btn-success float-right" jhiTranslate="settings.form.button">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
