@import "src/main/webapp/content/scss/bootstrap-variables";
.right-sidebar {
  flex: 0.5;
  margin: 0;
  padding-left: 15px;
  .add-panel {
    flex: 1;
  }
}

.page-body {
  height: auto;
}

.add-article {
  position: absolute;
  float: right;
  right: 2em;
  padding: 3px 15px;
}

.status-btn {
  font-size: 1.5em;
  float: right;
  color: $p-color;
  cursor: pointer;
}

.article-img {
  height: 100%;
  background-image: url('../../../../content/images/default.jpg');
  background-size: cover;
}
