<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="objectSharingApp.image.detail.title">Image</span> {{image.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="objectSharingApp.image.url">Url</span></dt>
                <dd>
                    <span>{{image.url}}</span>
                </dd>
                <dt><span jhiTranslate="objectSharingApp.image.article">Article</span></dt>
                <dd>
                    <div *ngIf="image.article">
                        <a [routerLink]="['/article', image.article?.id, 'view']">{{image.article?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
