<div class="page">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <h2 id="page-heading">
        <span jhiTranslate="osh.searchList.title">Search list</span>
        <input style="font-size: medium" [(ngModel)]="filter.text" placeholder="Article">
        <input style="font-size: medium;width: 130px;" [(ngModel)]="filter.category" placeholder="category">
        <input style="font-size: medium" [(ngModel)]="filter.city" placeholder="city, postal">
        <input style="font-size: medium;width: 40px;" type="number" [(ngModel)]="filter.page" placeholder="page">
        <input style="font-size: medium;width: 40px;" type="number" [(ngModel)]="filter.items" placeholder="items">
        <select [(ngModel)]="filter.sort">
            <option value="ADDTIME_ASK">ADDTIME_ASK</option>
            <option value="ADDTIME_DESK">ADDTIME_DESK</option>
            <option value="PRISE_ASC">PRISE_ASC</option>
            <option value="PRISE_DESK">PRISE_DESK</option>
        </select>
        <button (click)="search()"
                class="btn btn-primary float-right jh-create-entity create-location">
            <fa-icon [icon]="'search'"></fa-icon>
            <span>
            Search
            </span>
        </button>
    </h2>
    <br/>
    <div class="alert alert-warning" *ngIf="searchedArticles?.length === 0">
        <span jhiTranslate="objectSharingApp.article.home.notFound">No articles found</span>
    </div>
    <div class="page-body" *ngIf="searchedArticles?.length > 0">
        <div class="card article-details-block" *ngIf="selectedArticle">
            <div class="card-body" style="display: flex; flex-direction: column;">
                <div class="article-details">
                    <div class="article-img">
                        <span class="hipster img-fluid rounded"></span>
                    </div>
                    <div class="article-info">
                        <h4>{{selectedArticle.name}}</h4>
                        <h6>{{selectedArticle.price}} {{selectedArticle.currency}}</h6>
                        {{selectedArticle.city}} {{selectedArticle.postalCode}}
                        <hr>
                        {{selectedArticle.desc}}
                    </div>
                </div>
                <div class="article-calendar">
                    <jhi-calendar id="calendar" [events]="events" (selectEvent)="onReserve($event)"></jhi-calendar>
                    <div class="calendar-action">
                        <a (click)="refresh()" class="reserve-article" style="right: 7em;">Refresh</a>
                        <button (click)="addReserve()"
                                [disabled]="!selectedDays"
                                class="btn btn-success float-right reserve-article">
                            <fa-icon [icon]="'check'"></fa-icon>
                            <span>
                                Reserve
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-sidebar" [ngClass]="{'minimal' : !selectedArticle}">
            <div class="card search-map" [ngClass]="{'minimal' : !selectedArticle}">
                Maps
            </div>
            <div class="card search-list table-responsive" [ngClass]="{'minimal' : !selectedArticle}">
                <table class="table table-striped" aria-describedby="page-heading">
                    <tbody>
                    <tr *ngFor="let artcl of searchedArticles ;trackBy: trackId">
                        <td (click)="selectArticle(artcl)">
                            {{artcl.id}} {{artcl.addTime}} {{artcl.name}} {{artcl.city}} {{artcl.postalCode}}
                            {{artcl.price}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
