.hipster {
  display: inline-block;
  width: 260px;
  height: 210px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 25px;
  background: url('../../../../content/images/jhipster_family_member_0_head-384.png') no-repeat center top;
  background-size: contain;
}
.page a {
  cursor: pointer;
  font-size: large;
  color: blue;
}

.page select {
  font-size: 1rem;
}

// full view right sidebar
.right-sidebar {
  .search-map {
    margin: 0 0 15px 5px;
    //min-height: 200px;
    flex: 0.7;
  }
  .search-list {
    margin: 0 5px;
    //height: 250px;
    flex: 1;
  }
}

// minimal view
.right-sidebar.minimal {
  display: flex;
  .search-map.minimal {
    flex: 0.5;
    margin-bottom: 0;
  }
  .search-list.minimal {
    flex: 1;
    height: 460px;
  }
}

// article details block
.article-details-block {
  .article-details {
    display: flex;
    min-height: 150px;
    .article-img {
      flex: 0.5;
    }
    .article-info {
      flex: 1;
    }
  }
  .article-calendar {
    display: flex;
    #calendar {
      flex: 1;
    }
    .calendar-action {
      flex: 0.3;
      .reserve-article {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 20px;
      }
    }
  }
}

// table styles
.table-striped tbody tr {
  cursor:  pointer;
}
