.page a {
  cursor: pointer;
  font-size: large;
  color: blue;
}

.page-body {
  display: flex;
  .article-details-block {
    flex: 1.2;
    margin: 5px;
  }
  .right-sidebar {
    margin: 5px;
    flex: 1;
  }
}

// full view right sidebar
.right-sidebar {
  .search-map {
    margin: 0 0 15px 5px;
    min-height: 200px;
  }
  .search-list {
    margin: 0 5px;
  }
}

// minimal view
.right-sidebar.minimal {
  display: flex;
  .search-map.minimal {
    flex: 0.5;
    margin-bottom: 0;
  }
  .search-list.minimal {
    flex: 1;
  }
}

// article details block
.article-details-block {
  .article-details {
    display: flex;
    min-height: 150px;
    .article-img {
      flex: 0.5;
    }
    .article-info {
      flex: 1;
    }
  }
}

