.profile-data {
  min-width: 65vw;
  margin: 0 auto;
}
.profile-image {
  min-height: 15rem;
  background-color: darkorange;
}
.user-info-data {
 height: 100%;
  border-left: 1px solid;
  padding-left: 10px;
}

.location-map {
  height: 100%;
}
