.profile-data {
  margin: 0 auto;
  width: 90%;
}

.card-body {
  .form-control {
    height: 2rem;
  }
  .form-control[readonly] {
    background-color: transparent;
    border: 0;
  }
  .form-text {
    float: right;
    margin-top: 0;
  }
  .form-group {
    margin-top: .3rem;
    margin-bottom: 0;
    display: inline-flex;
    width: 100%;

    label {
      padding-right: 5px;
      min-width: fit-content;
    }
  }
}

.profile-image {

}

.user-info-data {
  height: 100%;
  //border-left: 1px solid;
  padding-left: 10px;
}

.location-map {
  height: 100%;
}

.profile-img {
  text-align: center;
}

.hipster {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px !important;
  background: url('../../../../content/images/jhipster_family_member_0_head-384.png') no-repeat center top;
  background-size: contain;
}
