@import '../../../content/scss/bootstrap-variables';

/* TABLE STYLES*/
.fc-scroller.fc-day-grid-container {
  height: 300px !important; // table height
}

.fc-row.fc-week.fc-widget-content {
  height: 50px !important; // table row height
}

/* EVENT STYLES*/
.fc-event-container {
  color: white;
}

a.fc-day-grid-event.fc-h-event.fc-event{
  background: $p-color;
}

/* BUTTONS STYLES*/
.fc-button.fc-icon {
  font-size: 1.2em;
}

button.fc-next-button.fc-button.fc-button-primary,
button.fc-prev-button.fc-button.fc-button-primary{
  background: $p-color;
}
