@import '~bootstrap/scss/variables';

html,
body,
jhi-articles,
.page{
  height: 100%;
}
.container-fluid,
.page-body {
  height: calc(100% - 62px);
}
.card.jh-card {
  margin-top: 0;
  height: 100%;
}
/* ==========================================================================
Navbar
========================================================================== */
.navbar a.nav-link,
.navbar-title {
  color: whitesmoke;
}
.navbar a.nav-link:hover,
.navbar-title:hover {
  color: greenyellow;
}
.navbar {
  .dropdown-item:hover {
    background-color: $success;
    color: white;
  }
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $success!important;
    color: white;
  }
}
.logo-img {
  background-image: url('../images/logo.png')!important;
}
/* ==========================================================================
Page heading
========================================================================== */
.btn.btn-primary.float-right.jh-create-entity {
  font-size: 0.475em;
}

.btn-group {
  font-size: larger;
}
// page body
.page-body {
  display: flex;
  .article-details-block {
    flex: 1.2;
    margin: 5px;
  }
  .right-sidebar {
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
/* ==========================================================================
Icons
========================================================================== */
.icon-x {
  padding-right: .5rem;
  cursor: pointer;
  color: $primary;
}
.icon-x :hover {
  color: $danger;
}
