<div>
    <h2 id="page-heading">
        <span jhiTranslate="objectSharingApp.renting.home.title">Rentings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-renting" [routerLink]="['/renting/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="objectSharingApp.renting.home.createLabel">
            Create a new Renting
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="rentings?.length === 0">
        <span jhiTranslate="objectSharingApp.renting.home.notFound">No rentings found</span>
    </div>
    <div class="table-responsive" *ngIf="rentings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="objectSharingApp.renting.startTime">Start Time</span></th>
            <th scope="col" ><span jhiTranslate="objectSharingApp.renting.endTime">End Time</span></th>
            <th scope="col" ><span jhiTranslate="objectSharingApp.renting.price">Price</span></th>
            <th scope="col" ><span jhiTranslate="objectSharingApp.renting.rentPeriod">Rent Period</span></th>
            <th scope="col" ><span jhiTranslate="objectSharingApp.renting.currency">Currency</span></th>
            <th scope="col" ><span jhiTranslate="objectSharingApp.renting.user">User</span></th>
            <th scope="col" ><span jhiTranslate="objectSharingApp.renting.article">Article</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let renting of rentings ;trackBy: trackId">
                <td><a [routerLink]="['/renting', renting.id, 'view' ]">{{renting.id}}</a></td>
                <td>{{renting.startTime}}</td>
                <td>{{renting.endTime}}</td>
                <td>{{renting.price}}</td>
                <td jhiTranslate="{{'objectSharingApp.RentPeriod.' + renting.rentPeriod}}">{{renting.rentPeriod}}</td>
                <td jhiTranslate="{{'objectSharingApp.Currency.' + renting.currency}}">{{renting.currency}}</td>
                <td>
                    {{renting.user?.login}}
                </td>
                <td>
                    <div *ngIf="renting.article">
                        <a [routerLink]="['/article', renting.article?.id, 'view' ]" >{{renting.article?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/renting', renting.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/renting', renting.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/renting', { outlets: { popup: renting.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
